body {
    background-color: #0d1117;
    font-family: 'Poppins', sans-serif;
    color: #e6edf3;
    overflow-x: hidden;
}

.dashboard-container {
    margin-top: 40px;
}

.card-custom {
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.table-dark {
    --bs-table-bg: transparent;
    --bs-table-color: #e6edf3;
    --bs-table-border-color: #30363d;
}

td[contenteditable="true"] {
    transition: background-color 0.2s;
    cursor: text;
}

td[contenteditable="true"]:hover {
    background-color: rgba(0, 198, 255, 0.1);
}

td[contenteditable="true"]:focus {
    background-color: #0d1117;
    outline: 2px solid #00c6ff;
    border-radius: 4px;
}

.form-switch .form-check-input {
    cursor: pointer;
    background-color: #dc3545;
    border-color: #dc3545;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

.form-check-input:not(:checked) {
    filter: brightness(0.9);
}

.btn-outline-novo {
    border: 2px solid #198754;
    color: #198754;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s;
}

.btn-outline-novo:hover {
    background-color: #198754;
    color: white;
    transform: scale(1.02);
}

.btn-gradient-salvar {
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    border: none;
    color: white;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-gradient-salvar:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 198, 255, 0.4);
    color: white;
}


/* WhatsApp Botao */
.celular-cliente {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.btn-whatsapp-circle {
    background-color: #25D366;
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, background-color 0.2s;
    cursor: pointer;
    padding: 0;
}

.btn-whatsapp-circle i {
    font-size: 1.3rem;
}

.btn-whatsapp-circle:hover {
    background-color: #1eb954;
    transform: scale(1.05);
}

.celular-cliente[contenteditable="true"]:focus {
    border-bottom: 1px dashed #555;
}
/* WhatsApp END */


@media (max-width: 768px) {
    .dashboard-container {
        margin-top: 20px;
    }
    
    .card-custom {
        border-radius: 10px;
    }
    
    .table th, .table td {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}